# Основные
pandas>=2.1.0
numpy>=1.26.0
scipy>=1.11.0
scikit-learn>=1.3.0
tqdm>=4.66.0
pyyaml>=6.0.1
matplotlib>=3.8.0
orjson>=3.9.10

# Рекомендатели
implicit>=0.7.2

# Эксперименты
mlflow>=2.10.0
psycopg
psycopg[binary,pool]
psycopg2-binary

# Прочее
pyarrow>=14.0.0
jupyterlab
seaborn
boto3

# Сервис
fastapi>=0.111.0
uvicorn[standard]>=0.29.0
pydantic>=2.7.0
prometheus-client>=0.20.0
prometheus-fastapi-instrumentator